body {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}
h1, h2, h3 {
  text-align: center;
}

.actions {
  display:flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.actions button {
  margin: 0 0.5rem;
}

.grid {
  width: 100%;
}

.row {
  display: flex;
  justify-content: center;
}

.item {
  background-color: #eee;
  width: 10px;
  height: 10px;
  margin: 1px;
}

.item.alive {
  background-color: #228e13;
}